/*body{
	background-color: #FFAC6B;
}*/

header{
	background-position: center center;
	background-repeat: no-repeat; 
	background-image: 'fondo rosa-turquesa.jpg';
	height: 188px;
}

#menu_izq{
	font-size: 20px;
	display: inline-block; vertical-align: top;
	padding: 20px;
	color: red;
}

li{
	list-style-type: none;
}

a{
	text-decoration-line: none;
	color: #FF0000;
}

h1{
	font-family: 'Saira', sans-serif;
	text-align: center;
}

.imagenes{
	display: inline-block;
}

.imagen{
	display: inline-block;
	padding-right: 30px;
	padding-left: 50px;

}

.imagen p{
	text-align: center;
	font-size: 18px;
}

p{
	font-family: 'Saira', sans-serif;
}

footer{
	margin: 10px auto 20px;
	text-align: center;

}

